body {
    margin: 0;
    display: flex;
    flex-flow: column nowrap;
}

p, h1 {
    margin: 2vh;
}

h1 {
    font-size: 3vh;
}

header{
    background-color: #65ff67;
    width: 100vw;
    text-align: left;
    height: 12vh;
}

header img{
    height: 12vh;
}

.jumbotron {
    margin-left: 175px;
}

.core {
    margin-left: 175px;
    display: flex;
}

.content {
    flex: 3;
}
.seed-deets{
    display: flex;
}

.seed-image{
    flex: 1;
    /* border: 2px solid purple; */
}

.further-seed-info {
    flex:  2;
    /* border: 2px solid blue; */
}

.owned-seeds-list{
    border-left: 3px solid rgb(45, 68, 45);
    flex: 1;
    background-color: rgb(169, 197, 197);
    color: darkslategrey;
}

div .seeds{
    text-align: center;
    font-weight: 900;
    padding-top: 2vh;
    background-color: rgb(45, 68, 45);
}

footer{
    width: 100vw;
    height: 8vh;
    background-color: #65ff67;
    text-align: center;
    position: fixed;
    bottom: 0;
    display: flex;
    align-items: center;
    justify-content: center;
}

footer  p {
    line-height: 20vh;
}

footer a {
    text-decoration: none;
    color: rgb(45, 68, 45);
}
footer a:hover{
    color: #583886;
    font-weight: 500;
}

/* .seed-nav li { !! see note about .seed-nav li:hover */
.seed-name {
    list-style: none;
    height: 5vh;
    display: flex;
    align-items: center;
    padding-left: 2vw;
}

/* .seed-nav li:hover{ note: this only works if we hardcode or statically include
    the list items, if we do it dynamically after our db response,  we will have 
    to use a specific class name on each li, in this case seed-name */
.seed-name:hover{
    border-left: 4px solid white;
    padding-left: .5vw;
    transition-duration: .15s;
}

.owned-seeds-list div {
    height: 5vh;
    color: white;
}
